@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #ececec;
    color: blue;
    font-weight: bolder;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content{
    font-size: 20px;
}

.speed{
    position: absolute;
    bottom: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.speed input{
    width: 50px;
    padding: 5px;
    font-size: 18px;
    border: none;
    background-color: greenyellow;
    color: green;
    outline: none;
    text-align: center;
}




